<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">CRUD</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse  justify-content-end navbar-collapse  mr-10" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="userlist">User List</a>
        </li>
        <li *ngIf="!logging()" class="nav-item">
          <a class="nav-link" href="login">Login</a>
        </li>
        <li *ngIf="logging()" class="nav-item">
          <a class="nav-link" href="login" (click)="onlogout()">LogOut</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
<router-outlet></router-outlet>