<div class="main-block">

    <div class="left-part">
        <i class="fas fa-graduation-cap"></i>
        <img src="https://www.turlock.k12.ca.us/cms/lib/CA50000453/Centricity/Domain/1539/register.png"
            alt="Girl in a jacket" width="500" height="600">
    </div>

    <form [formGroup]="updateData" (ngSubmit)="submitUpdateData()">
        <div class="title">
            <i class="fas fa-pencil-alt"></i>
            <h2>Update Register here</h2>
        </div>
        <div class="info">
            <div class="mb-3">
                <label class="form-label">Name</label>
                <input type="text" class="form-control" placeholder="Enter your name" formControlName="name">
                <span class="text-danger"
                    *ngIf="updateData.controls['name'].dirty && updateData.hasError('required','name')">*Name is
                    required</span>
            </div>
            <div class="mb-3">
                <label class="form-label">Email address</label>
                <input type="email" class="form-control" placeholder="Enter your Email" formControlName="email">
                <span class="text-danger"
                    *ngIf="updateData.controls['email'].dirty && updateData.hasError('required','email')">*Email is
                    required</span>
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="text" class="form-control" placeholder="Enter your password"
                    formControlName="password">
                <span class="text-danger"
                    *ngIf="updateData.controls['password'].dirty && updateData.hasError('required','password')">*Password
                    is required</span>
            </div>
        </div>
        <div class="register">
            <p><a href="/login">Already Register? </a></p>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
