<!-- <form>
    <div class="container mb-3">
        <label class="form-label">Email address</label>
        <input type="email" class="form-control" placeholder="Enter your Email">

    </div>
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" placeholder="Enter your password">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form> -->

<section class="vh-100" style="background-color: #86805d;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5  d-md-block">
                            <img src="https://images.unsplash.com/photo-1594583388647-364ea6532257?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bG9naW4lMjBmcmVlfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60"
                                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">

                                <form [formGroup]="loginForm" (ngSubmit)="login()">

                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>

                                    </div>

                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account
                                    </h5>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form2Example17">Email address</label>
                                        <input formControlName="email" type="email"
                                            class="form-control form-control-lg" />
                                        <span class="text-danger"
                                            *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required','email')">Email
                                            is required!</span>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form2Example27">Password</label>
                                        <input formControlName="password" type="password"
                                            class="form-control form-control-lg" />
                                        <span class="text-danger"
                                            *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')">Password
                                            is required!</span>
                                    </div>

                                    <div class="pt-1 mb-4">
                                        <button class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
                                    </div>
                                    <a class="small text-muted" href="#!">Forgot password?</a>
                                    <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a
                                            href="/register" style="color: #393f81;">Register here</a></p>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>