Body {  
    font-family: Calibri, Helvetica, sans-serif;  
    background-color: pink;  
  }  
  button {   
         background-color: #4CAF50;   
         width: 100%;  
          color: orange;   
          padding: 15px;   
          margin: 10px 0px;   
          border: none;   
          cursor: pointer;   
           }   
   form {   
          border: 3px solid #f1f1f1;   
      }   
   input[type=text], input[type=password] {   
          width: 100%;   
          margin: 8px 0;  
          padding: 12px 20px;   
          display: inline-block;      
          box-sizing: border-box;   
      }  
   button:hover {   
          opacity: 0.7;   
      }   
   
   .container {   
          padding: 25px;   
          background-color: lightblue;  
      }   