<div class="d-flex justify-content-center">
    <div *ngIf="isloading" class="spinner-border text-success justify-content-center" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>

</div>
<table *ngIf="!isloading" class="table">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">name</th>
            <th scope="col">email</th>
            <th scope="col">password</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng *ngFor="let data of studentData">
            <th scope="row">{{data.id}}</th>
            <td>{{data.name}}</td>
            <td>{{data.email}}</td>
            <td>{{data.password}}</td>
            <td>
                <button type="button" class="btn btn-danger"><samp
                        (click)="deletedStudent(data.id)">Deleted</samp></button>
                &nbsp;
                <button type="button" class="btn btn-success"> <a class="text-decoration-none"
                        routerLink="/update/{{data.id}}">update</a></button>
            </td>
        </tr>

    </tbody>align-content-end
</table>